extends ../layout
block content
	.container
		.row
			.col-md-12
				h1 To be a driver? Great choice!
		.row.centrized-vertically
			.col-md-6.col-md-offset-3
				.row
					.col-sm-9.col-sm-offset-3
						h3
							| Each #{" "}
							strong driver#{" "}
							| needs credentials

				include ../partials/registrationForm