form.form-horizontal(role="form", method="POST" action="#{loginFormAction}")
	div.form-group
		label.control-label.col-sm-3(for="email") Email address
		div.col-sm-9
			input#email.form-control(name="email", type="email", placeholder="Enter email")
	div.form-group
		label.control-label.col-sm-3(for="password") Password
		div.col-sm-9
			input#password.form-control(name="password", type="password", placeholder="Password")
	if message && message.length !== 0
		div.form-group
			div.col-sm-9.col-sm-offset-3
				span.bg-danger.message #{message}
	div.form-group
		div.col-sm-offset-3.col-sm-9
			button.btn.btn-default.btn-primary(type="submit") Submit