extends ../layout
block content
	.centrized-vertically
		.row
			.col-lg-8.col-lg-offset-2
				h1 :( You have to wait.
				p Currently your manager haven't assigned a vehicle to you.
				p.pull-right *please, don't hate him