extends layout

block content
	.error.container.centrized-vertically
		.row
			.col-lg-8.col-lg-offset-2
				h1.error-heading Oops! Error #{error.status} occured!
				.error-reason
					h2.error-sedative Don't panic. It's because:
					p.error-message #{message}
		if error.stack
			.row
				.error-buttons.col-lg-8.col-lg-offset-2
					pre.error-stack #{error.stack}
		.row
			.error-buttons.col-lg-8.col-lg-offset-2
				a(href="/").btn.btn-primary.btn-lg.error-home-button Home
