extends layout

block content
	h1= title
	p Welcome to #{title}

	div.vt-google-map

block scripts
	script(src='http://maps.googleapis.com/maps/api/js?key=#{keys.googleMapsKey}&sensor=false&libraries=drawing ')
	script(src='js/local/mapExperiments.js')