extends layout

block content
	.container.centrized-vertically

				.jumbotron
					.row
						.col-sm-7
							h1 Vehicle tracker
							p You are very welcome!
							p
								a.btn.btn-primary.btn-lg(role='button') Learn more
						.col-sm-5
							img.pull-right.vt-logo(src="/images/vehicle#{Math.round(Math.random() + 1)}.svg" alt="Vehicle")

block scripts
	script(src='http://maps.googleapis.com/maps/api/js?key=#{keys.googleMapsKey}&sensor=false&libraries=drawing ')
