extends layout

block content
	h1= title
	p Welcome to #{title}

	div.google-map

block scripts
	script(src='http://maps.googleapis.com/maps/api/js?key=#{keys.googleMapsKey}&sensor=false')
	script(src='javascripts/mapExperiments.js')