doctype html
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		block content

		script(src="/bower_components/jQuery/dist/jquery.min.js")
		block scripts