doctype html
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(rel='stylesheet', href='/css/styles.css')

	body
		block content

		script(src="/js/global/globalScripts.js")
		block scripts