extends layout
block content
	div.container

		div.centrized-vertically
			div.row
				div.col-md-6.col-md-offset-3
					div.row
						div.col-sm-9.col-sm-offset-3
							h1 Login
					include partials/loginForm

block scripts
	script(src='/js/local/register.js')