USE [master]
GO
/****** Object:  Database [VehicleTrackerDB]    Script Date: 20.04.2014 16:27:08 ******/
CREATE DATABASE [VehicleTrackerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleTrackerDB', FILENAME = N'D:\Program Files\Microsoft SQL Server 2012\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\VehicleTrackerDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VehicleTrackerDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server 2012\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\VehicleTrackerDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleTrackerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleTrackerDB]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.04.2014 16:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PasswordCache] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](20) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 20.04.2014 16:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Id] [uniqueidentifier] NOT NULL,
	[LicensePlate] [nvarchar](10) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehiclePosition]    Script Date: 20.04.2014 16:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiclePosition](
	[Id] [int] NOT NULL,
	[Position] [geography] NOT NULL,
	[VehicleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_VehiclePosition] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_User]
GO
ALTER TABLE [dbo].[VehiclePosition]  WITH CHECK ADD  CONSTRAINT [FK_VehiclePosition_Vehicle] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([Id])
GO
ALTER TABLE [dbo].[VehiclePosition] CHECK CONSTRAINT [FK_VehiclePosition_Vehicle]
GO
USE [master]
GO
