extends ../layout
block content
	.centrized-vertically
		.container
			.row
				.col-lg-6.col-lg-offset-3
					h1 Registerd successfully!
					p Now you can#{" "}
						a(href="/login") login#{" "}
						| with you credentials.
					p.pull-right *have a lot of fun