extends ../layout
block content
	.centrized-vertically
		.row
			.col-lg-8.col-lg-offset-2
				h1 Registerd successfully!
				p Now you can#{" "}
					a(href="/login") login#{" "}
					| with you credentials.
				p.pull-right *have a lot of fun